html {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  height: 100%;
}

nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 1.7vw;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.main__logo img {
  width: 100%; 
  margin: 10px 0px 20px 20px;
}

.nav_logo {
  width: 14vw;
}

.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 3px 25px;
  border-radius: 7px;
}

.nav_icons {
  margin-right: 70px;
}

.fas {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}

main {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  color: #DDDDDD;
  font-weight: bold;
}

.adjectives {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  } 

footer {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  font-weight: lighter;
  max-width: 100% ;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.socialmedia__icons {
  margin-right: 20px;
}

.socialmedia__icons img {
  width: 2vw;
}

@media only screen and (max-width: 590px) {
  nav {
    flex-direction: column;
  }
  .nav_cta, .nav_icons {
    
  }
  .main__logo img {
    width: 100%;
    margin: 0px 0px 10px 0px
  }

}