/* background image*/
html {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  height: 100%;

}
/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 1.7vw;
  color: #707070 ;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 4vw;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  color: #DDDDDD;
  font-weight: bold;
  
}

footer {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  font-weight: lighter;

}

/* Cta */


.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 4px 40px;
  border-radius: 7px;

}

.main_logo {
  height: 150px;
  margin-left: 10px;
}

.material-icons {
  color: black;
  text-decoration: none;
  
}

.fas {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}



.socialmedia_icons, img {
  width: 3%;
}

/* grid */

.nav_cta {
  display: flex;
  justify-content: space-between;
}

.cta_buttons {
  margin-top: 52.5px;
}

.icons {
  margin: 52.5px ;
}

main {
  position: center;
}

.adjectives {
  display: flex;

}

footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
}

.sosialmedia__icons {
  list-style-type: none;

}