/* background image*/
body {
  background-image: url(../images/Homepage_background-min.jpg);
  background-position: center;
  background-position-y:-100px
 
}
/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 30px;
  color: #707070 ;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #DDDDDD;
  font-weight: bold;
  
}

footer {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  font-weight: lighter;

}

/* Cta */

.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 4px 60px;
  border-radius: 7px;

}

.main__logo
