/* background image*/
html {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  height: 100%;

}
/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 1.7vw;
  color: #707070 ;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 4vw;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  color: #DDDDDD;
  font-weight: bold;
  
}

footer {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  font-weight: lighter;

}

/* Cta */

.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 3px 30px;
  border-radius: 7px;

}

.main__logo img {
 width: 100%; 
 margin: 10px 0px 0px 20px;

}

.material-icons {
  color: black;
  text-decoration: none;
  
}
.nav_icons {
  margin-right: 20px;
}
.fas {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}


.socialmedia_icons, img {
  width: 3%;
}

/* grid */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

   
}
.nav_logo {
 width: 14vw;
}

.nav_cta {
  position: center;
}

