/* background image*/
html {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  height: 100%;
 

/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 1.7vw;
  color: #707070 ;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 4vw;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  color: #DDDDDD;
  font-weight: bold;
  
}

footer {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  font-weight: lighter;

}

/* Cta */

.main__logo {
  width: 15%;
  margin: 0% 0% 0% 2%;
}

.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 4px 60px;
  border-radius: 7px;

}

.material-icons {
  color: black;
  text-decoration: none;
  
}

.socialmedia_icons, img {
  width: 3%;
}