/* background image*/
body {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  background-position-y: 0%;
 
}
/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 30px;
  color: #707070 ;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #DDDDDD;
  font-weight: bold;
  
}

footer {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  font-weight: lighter;

}

/* Cta */

.ta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 4px 60px;
  border-radius: 7px;

}

.main__logo {
  width: 15%;
  margin: 0% 0% 0% 2%;
}

.socialmedia_icons, img {
  width: 5%;
  color: 
}