html {
  background-image: url(../images/Homepage_background_min.jpg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  height: 100%;
}

nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 1.7vw;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 3vw;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 400px;
}

main {
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
  color: #DDDDDD;
  font-weight: bold; 
}

footer {
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
  font-weight: lighter;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
}

.cta {
  background-color: #0A3641;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 3px 25px;
  border-radius: 7px;
}

.main__logo img {
  width: 100%; 
  margin: 10px 0px 0px 20px;
}

.material-icons {
  color: black;
  text-decoration: none;
}

.nav_icons {
  margin-right: 20px;
}

.fas {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.socialmedia__icons img {
  width: 4%;
}

.nav_logo {
  width: 14vw;
}

.adjectives {
  display: flex;
  justify-content display: flex;
  align-items: center;
  justify-content: space-evenly;
  }
