/* background image*/
body {
  background-image: url(../images/Homepage_background-min.jpg);
  background-position: center;
  background-position-y:-50px
 
}
/* fonts */
nav {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 32px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: #707070 ;
  font-weight: lighter;
  text-align: center;
}
main {
  font-family: Arial, sans-serif;
  
}

footer {
  font-family: Arial, sans-serif;
}

